{% extends 'base.html.twig' %}


{% block body %}

    <h1>Voici la liste de mes annonces</h1>
    <form method="post">
        <div class="row">
            <div>Recherche par mot-clé -> : &nbsp;</div>
            <input type="text" name="motcle">
        </div>
    </form>

    <br>

    <div class="row">

        {% for ad in listAd %}
            <div class="col-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text">{{ ad.city }} - {{ ad.zip }}</p>
                        <span>Prix : {{ ad.price }} €</span>
                        <div>Date de création : {{ ad.dateCreated |date }}</div>
                        {% if ad.category %}
                            <div>Categorie : {{ ad.category }}</div>
                        {% endif %}
                        <div><a href={{ path('annonce_details',{'id':ad.id}) }}><button>Voir details</button></a></div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}